<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qadmin后台模板 - Express4示例</title>
</head>
<body>

<h1>
    Qadmin后台模板 - Express4示例
</h1>
<hr>
<p>
    <a target="_blank" href="/html">经典版</a>
</p>
<p>
    <a target="_blank" href="/iframe">Iframe版</a>
</p>

</body>
</html>